<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Quotes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let quote of quotes | async" class="movie-card">

    <ion-item class="movie-info" lines="none">
      <ion-icon name="pencil-outline" slot="start"></ion-icon>
      {{ quote.author }}
    </ion-item>

    <ion-item class="movie-info" lines="none">
      <ion-icon name="volume-high-outline" slot="start"></ion-icon>
      "{{ quote.quote }}"
    </ion-item>
    
  </ion-card>
</ion-content>