<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Deaths</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let death of deaths | async" class="movie-card">

    <ion-item class="movie-info" lines="none">
      <ion-icon name="medical-outline" slot="start"></ion-icon>
      Death: {{ death.death }}
    </ion-item>

    <ion-item class="movie-info" lines="none">
      <ion-icon name="help-outline" slot="start"></ion-icon>
      Cause: {{ death.cause }}
    </ion-item>

    <ion-item class="movie-info" lines="none">
      <ion-icon name="person-outline" slot="start"></ion-icon>
      Responsible: {{ death.responsible }}
    </ion-item>

    <ion-item class="movie-info" lines="none">
      <ion-icon name="skull-outline" slot="start"></ion-icon>
      Number of Deaths: {{ death.number_of_deaths }}
    </ion-item>

    <ion-item class="movie-info" lines="none">
      <ion-icon name="document-text-outline" slot="start"></ion-icon>
      Last Words: {{ death.last_words }}
    </ion-item>

    <ion-item class="movie-info" lines="none">
      <ion-icon name="play-outline" slot="start"></ion-icon>
      Season: {{ death.season }} - Episode: {{ death.episode }}
    </ion-item>
    
  </ion-card>
</ion-content>