<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Episodes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '3983391938378804',
      xfbml      : true,
      version    : 'v10.0'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
  </script>
  
  <div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
  </div>
  
    <ion-list>
        <ion-item button detail lines="inset" *ngFor="let episode of episodes | async" (click)="openDetails(episode.episode_id)">
        S{{ episode.season }}E{{ episode.episode }} - {{ episode.title }}
        </ion-item>
    </ion-list>
</ion-content>
